In [1]:
import sys, os

sys.path.insert(0, "../src")
from scraper.linkedin import Head_Hunter_9000

2023-10-15 18:10:22,021 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-15 18:10:22,022 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("jobboard")
2023-10-15 18:10:22,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,025 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("jobboard")
2023-10-15 18:10:22,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,027 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("jobquestion")
2023-10-15 18:10:22,028 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,029 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("jobquestion")
2023-10-15 18:10:22,030 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,031 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("optionsetoption")
2023-10-15 18:10:22,032 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,034 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("optionsetoption")
2023-10-15 18:10:22,036 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,037 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("optionset")
2023-10-15 18:10:22,037 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,038 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("optionset")
2023-10-15 18:10:22,039 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,040 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("job")
2023-10-15 18:10:22,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,043 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("job")
2023-10-15 18:10:22,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,045 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("question")
2023-10-15 18:10:22,046 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,047 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("question")
2023-10-15 18:10:22,048 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,050 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("freeresponsequestion")
2023-10-15 18:10:22,051 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,054 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("freeresponsequestion")
2023-10-15 18:10:22,054 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,055 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("radiobuttonquestion")
2023-10-15 18:10:22,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,057 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("radiobuttonquestion")
2023-10-15 18:10:22,059 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,060 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dropdownquestion")
2023-10-15 18:10:22,061 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,062 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dropdownquestion")
2023-10-15 18:10:22,062 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,063 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("option")
2023-10-15 18:10:22,063 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,065 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("option")
2023-10-15 18:10:22,066 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-15 18:10:22,068 INFO sqlalchemy.engine.Engine
CREATE TABLE jobboard (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	PRIMARY KEY (id)
)


2023-10-15 18:10:22,070 INFO sqlalchemy.engine.Engine [no key 0.00180s] ()
2023-10-15 18:10:22,083 INFO sqlalchemy.engine.Engine
CREATE TABLE optionset (
	id INTEGER NOT NULL,
	optionshash VARCHAR NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (optionshash)
)


2023-10-15 18:10:22,087 INFO sqlalchemy.engine.Engine [no key 0.00404s] ()
2023-10-15 18:10:22,100 INFO sqlalchemy.engine.Engine
CREATE TABLE question (
	id INTEGER NOT NULL,
	question VARCHAR NOT NULL,
	type VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2023-10-15 18:10:22,104 INFO sqlalchemy.engine.Engine [no key 0.00381s] ()
2023-10-15 18:10:22,118 INFO sqlalchemy.engine.Engine
CREATE TABLE option (
	id INTEGER NOT NULL,
	text VARCHAR NOT NULL,
	value VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2023-10-15 18:10:22,120 INFO sqlalchemy.engine.Engine [no key 0.00215s] ()
2023-10-15 18:10:22,130 INFO sqlalchemy.engine.Engine
CREATE TABLE optionsetoption (
	optionid INTEGER NOT NULL,
	optionsetid INTEGER NOT NULL,
	PRIMARY KEY (optionid, optionsetid),
	FOREIGN KEY(optionid) REFERENCES option (id),
	FOREIGN KEY(optionsetid) REFERENCES optionset (id)
)


2023-10-15 18:10:22,134 INFO sqlalchemy.engine.Engine [no key 0.00354s] ()
2023-10-15 18:10:22,152 INFO sqlalchemy.engine.Engine
CREATE TABLE job (
	id INTEGER NOT NULL,
	companyname VARCHAR NOT NULL,
	location VARCHAR,
	isarepost BOOLEAN,
	postedtimeago VARCHAR,
	numapplicants VARCHAR,
	salarylowerbound INTEGER,
	salaryupperbound INTEGER,
	workplacetype VARCHAR,
	jobtype VARCHAR,
	explevel VARCHAR,
	numemployees VARCHAR,
	industry VARCHAR,
	jobtitle VARCHAR NOT NULL,
	description VARCHAR NOT NULL,
	appsubmitted BOOLEAN NOT NULL,
	extjobid INTEGER NOT NULL,
	jobboardid INTEGER,
	createdat DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL,
	preferencescore FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(jobboardid) REFERENCES jobboard (id)
)


2023-10-15 18:10:22,154 INFO sqlalchemy.engine.Engine [no key 0.00269s] ()
2023-10-15 18:10:22,174 INFO sqlalchemy.engine.Engine
CREATE TABLE freeresponsequestion (
	id INTEGER NOT NULL,
	answer VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES question (id)
)


2023-10-15 18:10:22,176 INFO sqlalchemy.engine.Engine [no key 0.00166s] ()
2023-10-15 18:10:22,191 INFO sqlalchemy.engine.Engine
CREATE TABLE radiobuttonquestion (
	id INTEGER NOT NULL,
	optionsetid INTEGER,
	answerasoptionid INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES question (id),
	FOREIGN KEY(optionsetid) REFERENCES optionset (id),
	FOREIGN KEY(answerasoptionid) REFERENCES option (id)
)


2023-10-15 18:10:22,193 INFO sqlalchemy.engine.Engine [no key 0.00173s] ()
2023-10-15 18:10:22,209 INFO sqlalchemy.engine.Engine
CREATE TABLE dropdownquestion (
	id INTEGER NOT NULL,
	optionsetid INTEGER,
	answerasoptionid INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES question (id),
	FOREIGN KEY(optionsetid) REFERENCES optionset (id),
	FOREIGN KEY(answerasoptionid) REFERENCES option (id)
)


2023-10-15 18:10:22,212 INFO sqlalchemy.engine.Engine [no key 0.00242s] ()
2023-10-15 18:10:22,226 INFO sqlalchemy.engine.Engine
CREATE TABLE jobquestion (
	jobid INTEGER NOT NULL,
	questionid INTEGER NOT NULL,
	PRIMARY KEY (jobid, questionid),
	FOREIGN KEY(jobid) REFERENCES job (id),
	FOREIGN KEY(questionid) REFERENCES question (id)
)


2023-10-15 18:10:22,228 INFO sqlalchemy.engine.Engine [no key 0.00198s] ()
2023-10-15 18:10:22,238 INFO sqlalchemy.engine.Engine COMMIT

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ChromeOptions
import html2text
from selenium.common.exceptions import NoSuchElementException
import urllib.parse
import configparser
import random
import time

import re
import data.architecture as da
import data.manager as dm

# Iterating through multiple jobs and scraping their questions

In [3]:
hh_9000 = Head_Hunter_9000('/home/luca/Documents/Projects/Head_Hunter_9000/config.ini')
hh_9000.login()

https://www.linkedin.com/jobs/search/?f_AL=true&f_E=1%2C2%2C3&f_JT=F%2CC%2CT&f_WT=1%2C2%2C3&keywords=Data%20Analyst&location=United%20States

In [ ]:
time.sleep(random.uniform(1, 2))
# hh_9000.scroll_through_sidebar()
job_listings = hh_9000.driver.find_elements(By.XPATH, "//div[contains(@class, 'job-card-container') and contains(@class, 'job-card-list')]")

i = 0

just_added = False
time.sleep(random.uniform(1, 2))
link = job_listings[i].find_element(By.XPATH, ".//a[contains(@class, 'job-card-container__link') and contains(@class, 'job-card-list__title')]")
link.click()

ext_job_id = hh_9000.get_job_id(hh_9000.driver.current_url)
job_info_container = hh_9000.driver.find_element(By.XPATH, "//div[@class='job-view-layout jobs-details']")
job_info = hh_9000.build_job_info(job_info_container, ext_job_id)
if not job_info['appsubmitted']: # can also do a check here to see if job already exists in local db TODO
    all_questions = hh_9000.scrape_questions(job_info_container)
    hh_9000.store_to_database(job_info, all_questions)

In [7]:
i = 1

just_added = False
time.sleep(random.uniform(1, 2))
link = job_listings[i].find_element(By.XPATH, ".//a[contains(@class, 'job-card-container__link') and contains(@class, 'job-card-list__title')]")
link.click()

ext_job_id = hh_9000.get_job_id(hh_9000.driver.current_url)
job_info_container = hh_9000.driver.find_element(By.XPATH, "//div[@class='job-view-layout jobs-details']")
job_info = hh_9000.build_job_info(job_info_container, ext_job_id)
if not job_info['appsubmitted']: # can also do a check here to see if job already exists in local db TODO
    all_questions = hh_9000.scrape_questions(job_info_container)
    hh_9000.store_to_database(job_info, all_questions)

In [ ]:
i = 2

just_added = False
time.sleep(random.uniform(1, 2))
link = job_listings[i].find_element(By.XPATH, ".//a[contains(@class, 'job-card-container__link') and contains(@class, 'job-card-list__title')]")
link.click()

ext_job_id = hh_9000.get_job_id(hh_9000.driver.current_url)
job_info_container = hh_9000.driver.find_element(By.XPATH, "//div[@class='job-view-layout jobs-details']")
job_info = hh_9000.build_job_info(job_info_container, ext_job_id)
if not job_info['appsubmitted']: # can also do a check here to see if job already exists in local db TODO
    all_questions = hh_9000.scrape_questions(job_info_container)
    hh_9000.store_to_database(job_info, all_questions)

In [9]:
i = 3

just_added = False
time.sleep(random.uniform(1, 2))
link = job_listings[i].find_element(By.XPATH, ".//a[contains(@class, 'job-card-container__link') and contains(@class, 'job-card-list__title')]")
link.click()

ext_job_id = hh_9000.get_job_id(hh_9000.driver.current_url)
job_info_container = hh_9000.driver.find_element(By.XPATH, "//div[@class='job-view-layout jobs-details']")
job_info = hh_9000.build_job_info(job_info_container, ext_job_id)
if not job_info['appsubmitted']: # can also do a check here to see if job already exists in local db TODO
    all_questions = hh_9000.scrape_questions(job_info_container)
    hh_9000.store_to_database(job_info, all_questions)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='pb4']"}
  (Session info: chrome=113.0.5672.126)
Stacktrace:
#0 0x55e85ec7a133 <unknown>
#1 0x55e85e9ae966 <unknown>
#2 0x55e85e9eb0dc <unknown>
#3 0x55e85e9eb211 <unknown>
#4 0x55e85ea256c4 <unknown>
#5 0x55e85ea0abfd <unknown>
#6 0x55e85ea231c7 <unknown>
#7 0x55e85ea0a9a3 <unknown>
#8 0x55e85e9df46a <unknown>
#9 0x55e85e9e055e <unknown>
#10 0x55e85ec39cae <unknown>
#11 0x55e85ec3d8fe <unknown>
#12 0x55e85ec46f20 <unknown>
#13 0x55e85ec3e923 <unknown>
#14 0x55e85ec11c0e <unknown>
#15 0x55e85ec61b08 <unknown>
#16 0x55e85ec61c97 <unknown>
#17 0x55e85ec72113 <unknown>
#18 0x7fae02451ea7 start_thread

# Logging in and getting some questions

In [18]:
hh_9000 = Head_Hunter_9000('/home/luca/Documents/Projects/Head_Hunter_9000/config.ini')
hh_9000.login()

https://www.linkedin.com/jobs/search/?f_AL=true&f_E=1%2C2%2C3&f_JT=F%2CC%2CT&f_WT=1%2C2%2C3&keywords=Data%20Analyst&location=United%20States

Exception ignored in: <function Head_Hunter_9000.__del__ at 0x7f64a4d72290>
Traceback (most recent call last):
  File "/home/luca/Documents/Projects/Head_Hunter_9000/debug/../src/scraper/linkedin.py", line 51, in __del__
    def __del__(self):
  File "/home/luca/anaconda3/envs/headhunter9000/lib/python3.10/site-packages/selenium/webdriver/remote/webdriver.py", line 551, in close
    self.execute(Command.CLOSE)
  File "/home/luca/anaconda3/envs/headhunter9000/lib/python3.10/site-packages/selenium/webdriver/remote/webdriver.py", line 440, in execute
    self.error_handler.check_response(response)
  File "/home/luca/anaconda3/envs/headhunter9000/lib/python3.10/site-packages/selenium/webdriver/remote/errorhandler.py", line 245, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=113.0.5672.126)
Stacktrace:
#0 0x5567d6230133 <unknown>
#1 0x5567d5f64966 <unknown>
#2 0x5567d5f4be58 <unknown>
#3 0x5567d5f4d2c2 <unknown>
#4 0x5567d5f4d214 <unknown>
#5 0x5567d5f3d6de <unknown>
#6 0x5567d5f3e336 <unknown>
#7 0x5567d5fcb9d2 <unknown>
#8 0x5567d5fc0b98 <unknown>
#9 0x5567d5f9546a <unknown>
#10 0x5567d5f9655e <unknown>
#11 0x5567d61efcae <unknown>
#12 0x5567d61f38fe <unknown>
#13 0x5567d61fcf20 <unknown>
#14 0x5567d61f4923 <unknown>
#15 0x5567d61c7c0e <unknown>
#16 0x5567d6217b08 <unknown>
#17 0x5567d6217c97 <unknown>
#18 0x5567d6228113 <unknown>
#19 0x7fc8a2b25ea7 start_thread

In [4]:
jobboard_sa = dm.create_or_get_job_board('linkedin')

2023-10-15 17:18:06,799 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-15 17:18:06,808 INFO sqlalchemy.engine.Engine SELECT jobboard.id AS jobboard_id, jobboard.name AS jobboard_name
FROM jobboard
WHERE jobboard.name = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:06,812 INFO sqlalchemy.engine.Engine [generated in 0.00401s] ('linkedin', 1, 0)

In [5]:
ext_job_id = hh_9000.get_job_id(hh_9000.driver.current_url)
job_info_container = hh_9000.driver.find_element(By.XPATH, "//div[@class='job-view-layout jobs-details']")
job_info = hh_9000.build_job_info(job_info_container, ext_job_id)

In [6]:
job_info

{'companyname': 'Gleaners Community Food Bank of Southeastern Michigan',
 'location': 'Detroit, MI',
 'isarepost': False,
 'postedtimeago': '2 weeks ago',
 'numapplicants': '1186 applicants',
 'salarylowerbound': None,
 'salaryupperbound': None,
 'workplacetype': None,
 'jobtype': None,
 'explevel': None,
 'numemployees': '51-200 employees',
 'industry': None,
 'jobtitle': 'Data Analyst',
 'description': 'Gleaners Community Food Bank partners with more than four hundred agencies\nacross five counties in Southeast Michigan to provide food to neighbors in\nneed. Service data is collected by the agency partners and shared with\nGleaners to facilitate future food distributions. The Data Analyst position\nprovides input on and oversees how this data is collected, organized, and\nanalyzed to provide insights and enable better decisions.\n\n**Interested applicants should forward their resume and cover letter to\nhr@gcfb.org.**\n\n  \n\n **Essential Functions (abbreviated)**\n\n1)     Responsible for the complete and accurate import of data into Domo, the\nFood Bank’s business intelligence data platform.\n\n2)     Performs the consolidation of service data into the business\nintelligence data platform and then develops dashboard reports and\nvisualizations for Senior Leadership to turn that data into actionable\ninsights.\n\n3)     Responsible for building and maintaining the dataflows used in the data\nplatform to support the organization and consolidation of service data\nreceived.\n\n4)     Responsible for the reporting and analysis of service data that\nsupports ongoing efforts to use data to enable better decisions.\n\n  \n\n**Education/Experience (abbreviated)**\n\n  * Must have excellent attention to detail, a significant interest and technical expertise in data process and automation, and a passion and innate curiosity for problem solving and understanding.\n  * Bachelor’s degree in computer science, data management, data analysis, information systems, or other technical related field required.\n  * Minimum of two years supporting business operations in an analytics capacity preferred.\n  * Must have experience with SQL and Excel.\n  * Experience with Domo, data visualization tools (Tableau, Power BI) and API preferred.\n\n  \n\n**The complete job description can be found at www.gcfb.org/careers**\n\n  \n\n **Interested applicants should forward their resume and cover letter to\nhr@gcfb.org.**\n\n',
 'appsubmitted': False,
 'extjobid': '3726547406',
 'jobboardid': 'linkedin'}

In [7]:
easy_apply_button = job_info_container.find_element(By.XPATH, "//button[contains(@class, 'jobs-apply-button')]")
easy_apply_button.click()

In [8]:
from selenium.webdriver.support.ui import Select

def get_next_btn():
    nxt_btn = hh_9000.driver.find_elements(By.XPATH, "//span[text()='Next']/ancestor::button")
    if nxt_btn:
        return nxt_btn[0]
    
    return None

def get_rvw_btn():
    rvw_btn = hh_9000.driver.find_elements(By.XPATH, "//span[text()='Review']/ancestor::button")
    if rvw_btn:
        return rvw_btn[0]


def fill_out_questions(freeresponse_question_containers, dropdown_question_containers, radiobutton_question_containers):
    for fr_q in freeresponse_question_containers:
        input_tag = fr_q.find_element(By.TAG_NAME, "input")
        input_tag.clear()
        input_tag.send_keys("1")

    for dd_q in dropdown_question_containers:
        select_el = dd_q.find_element(By.TAG_NAME, "select")
        select = Select(select_el)
        select.select_by_index(1)

    for rb_q in radiobutton_question_containers:
        radio_buttons = rb_q.find_elements(By.XPATH, ".//label")
        if radio_buttons:
            radio_buttons[0].click()


fr_prompts = []
dd_prompts_and_options = []
rb_prompts_and_options = []

next_btn = True
while next_btn:
    next_btn = get_next_btn()
    question_form = hh_9000.driver.find_element(By.XPATH, "//div[@class='pb4']")

    freeresponse_question_containers = question_form.find_elements(By.XPATH, "./div[contains(@class, 'jobs-easy-apply-form-section__grouping')]//div[@data-test-single-line-text-form-component]")
    dropdown_question_containers = question_form.find_elements(By.XPATH, "./div[contains(@class, 'jobs-easy-apply-form-section__grouping')]//div[@data-test-text-entity-list-form-component]")
    radiobutton_question_containers = question_form.find_elements(By.XPATH, "./div[contains(@class, 'jobs-easy-apply-form-section__grouping')]//fieldset[@data-test-form-builder-radio-button-form-component]")

    fill_out_questions(freeresponse_question_containers, dropdown_question_containers, radiobutton_question_containers)

    fr_prompts.extend(hh_9000.scrape_freeresponse_questions(freeresponse_question_containers))
    dd_prompts_and_options.extend(hh_9000.scrape_dropdown_questions(dropdown_question_containers))
    rb_prompts_and_options.extend(hh_9000.scrape_radiobutton_questions(radiobutton_question_containers))

    if next_btn is not None:
        next_btn.click()

Have you completed the following level of education: Bachelor's Degree?

In [9]:
fr_prompts

['Mobile phone number',
 'How many years of work experience do you have with SQL?']

In [10]:
dd_prompts_and_options

[('Email address',
  [{'text': 'Select an option', 'value': 'Select an option'},
   {'text': 'luca.guarro@gmail.com', 'value': 'luca.guarro@gmail.com'}]),
 ('Phone country code',
  [{'text': 'Select an option', 'value': 'Select an option'},
   {'text': 'United States (+1)', 'value': 'United States (+1)'},
   {'text': 'Afghanistan (+93)', 'value': 'Afghanistan (+93)'},
   {'text': 'Aland Islands (+358)', 'value': 'Aland Islands (+358)'},
   {'text': 'Albania (+355)', 'value': 'Albania (+355)'},
   {'text': 'Algeria (+213)', 'value': 'Algeria (+213)'},
   {'text': 'American Samoa (+1)', 'value': 'American Samoa (+1)'},
   {'text': 'Andorra (+376)', 'value': 'Andorra (+376)'},
   {'text': 'Angola (+244)', 'value': 'Angola (+244)'},
   {'text': 'Anguilla (+1)', 'value': 'Anguilla (+1)'},
   {'text': 'Antarctica (+0)', 'value': 'Antarctica (+0)'},
   {'text': 'Antigua and Barbuda (+1)', 'value': 'Antigua and Barbuda (+1)'},
   {'text': 'Argentina (+54)', 'value': 'Argentina (+54)'},
   {'text': 'Armenia (+374)', 'value': 'Armenia (+374)'},
   {'text': 'Aruba (+297)', 'value': 'Aruba (+297)'},
   {'text': 'Australia (+61)', 'value': 'Australia (+61)'},
   {'text': 'Austria (+43)', 'value': 'Austria (+43)'},
   {'text': 'Azerbaijan (+994)', 'value': 'Azerbaijan (+994)'},
   {'text': 'Bahamas (+1)', 'value': 'Bahamas (+1)'},
   {'text': 'Bahrain (+973)', 'value': 'Bahrain (+973)'},
   {'text': 'Bangladesh (+880)', 'value': 'Bangladesh (+880)'},
   {'text': 'Barbados (+1)', 'value': 'Barbados (+1)'},
   {'text': 'Belarus (+375)', 'value': 'Belarus (+375)'},
   {'text': 'Belgium (+32)', 'value': 'Belgium (+32)'},
   {'text': 'Belize (+501)', 'value': 'Belize (+501)'},
   {'text': 'Benin (+229)', 'value': 'Benin (+229)'},
   {'text': 'Bermuda (+1)', 'value': 'Bermuda (+1)'},
   {'text': 'Bhutan (+975)', 'value': 'Bhutan (+975)'},
   {'text': 'Bolivia (+591)', 'value': 'Bolivia (+591)'},
   {'text': 'Bosnia and Herzegovina (+387)',
    'value': 'Bosnia and Herzegovina (+387)'},
   {'text': 'Botswana (+267)', 'value': 'Botswana (+267)'},
   {'text': 'Bouvet Island (+0)', 'value': 'Bouvet Island (+0)'},
   {'text': 'Brazil (+55)', 'value': 'Brazil (+55)'},
   {'text': 'British Indian Ocean Territory (+246)',
    'value': 'British Indian Ocean Territory (+246)'},
   {'text': 'Brunei Darussalam (+673)', 'value': 'Brunei Darussalam (+673)'},
   {'text': 'Bulgaria (+359)', 'value': 'Bulgaria (+359)'},
   {'text': 'Burkina Faso (+226)', 'value': 'Burkina Faso (+226)'},
   {'text': 'Burundi (+257)', 'value': 'Burundi (+257)'},
   {'text': 'Cambodia (+855)', 'value': 'Cambodia (+855)'},
   {'text': 'Cameroon (+237)', 'value': 'Cameroon (+237)'},
   {'text': 'Canada (+1)', 'value': 'Canada (+1)'},
   {'text': 'Cape Verde (+238)', 'value': 'Cape Verde (+238)'},
   {'text': 'Caribbean Nations (+0)', 'value': 'Caribbean Nations (+0)'},
   {'text': 'Cayman Islands (+1)', 'value': 'Cayman Islands (+1)'},
   {'text': 'Central African Republic (+236)',
    'value': 'Central African Republic (+236)'},
   {'text': 'Chad (+235)', 'value': 'Chad (+235)'},
   {'text': 'Chile (+56)', 'value': 'Chile (+56)'},
   {'text': 'China (+86)', 'value': 'China (+86)'},
   {'text': 'Christmas Island (+61)', 'value': 'Christmas Island (+61)'},
   {'text': 'Cocos (Keeling) Islands (+61)',
    'value': 'Cocos (Keeling) Islands (+61)'},
   {'text': 'Colombia (+57)', 'value': 'Colombia (+57)'},
   {'text': 'Comoros (+269)', 'value': 'Comoros (+269)'},
   {'text': 'Congo (+242)', 'value': 'Congo (+242)'},
   {'text': 'Cook Islands (+682)', 'value': 'Cook Islands (+682)'},
   {'text': 'Costa Rica (+506)', 'value': 'Costa Rica (+506)'},
   {'text': 'Cote D’Ivoire (Ivory Coast) (+225)',
    'value': 'Cote D’Ivoire (Ivory Coast) (+225)'},
   {'text': 'Croatia (+385)', 'value': 'Croatia (+385)'},
   {'text': 'Cuba (+53)', 'value': 'Cuba (+53)'},
   {'text': 'Cyprus (+357)', 'value': 'Cyprus (+357)'},
   {'text': 'Czech Republic (+420)', 'value': 'Czech Republic (+420)'},
   {'text': 'Democratic Republic of the Congo (+243)',
    'value': 'Democratic Republic of the Congo (+243)'},
   {'text': 'Denmark (+45)', 'value': 'Denmark (+45)'},
   {'text': 'Djibouti (+253)', 'value': 'Djibouti (+253)'},
   {'text': 'Dominica (+1)', 'value': 'Dominica (+1)'},
   {'text': 'Dominican Republic (+1)', 'value': 'Dominican Republic (+1)'},
   {'text': 'Ecuador (+593)', 'value': 'Ecuador (+593)'},
   {'text': 'Egypt (+20)', 'value': 'Egypt (+20)'},
   {'text': 'El Salvador (+503)', 'value': 'El Salvador (+503)'},
   {'text': 'Equatorial Guinea (+240)', 'value': 'Equatorial Guinea (+240)'},
   {'text': 'Eritrea (+291)', 'value': 'Eritrea (+291)'},
   {'text': 'Estonia (+372)', 'value': 'Estonia (+372)'},
   {'text': 'Ethiopia (+251)', 'value': 'Ethiopia (+251)'},
   {'text': 'Falkland Islands (Malvinas) (+500)',
    'value': 'Falkland Islands (Malvinas) (+500)'},
   {'text': 'Faroe Islands (+298)', 'value': 'Faroe Islands (+298)'},
   {'text': 'Federated States of Micronesia (+691)',
    'value': 'Federated States of Micronesia (+691)'},
   {'text': 'Fiji (+679)', 'value': 'Fiji (+679)'},
   {'text': 'Finland (+358)', 'value': 'Finland (+358)'},
   {'text': 'France (+33)', 'value': 'France (+33)'},
   {'text': 'French Guiana (+594)', 'value': 'French Guiana (+594)'},
   {'text': 'French Polynesia (+689)', 'value': 'French Polynesia (+689)'},
   {'text': 'French Southern Territories (+0)',
    'value': 'French Southern Territories (+0)'},
   {'text': 'Gabon (+241)', 'value': 'Gabon (+241)'},
   {'text': 'Gambia (+220)', 'value': 'Gambia (+220)'},
   {'text': 'Georgia (+995)', 'value': 'Georgia (+995)'},
   {'text': 'Germany (+49)', 'value': 'Germany (+49)'},
   {'text': 'Ghana (+233)', 'value': 'Ghana (+233)'},
   {'text': 'Gibraltar (+350)', 'value': 'Gibraltar (+350)'},
   {'text': 'Greece (+30)', 'value': 'Greece (+30)'},
   {'text': 'Greenland (+299)', 'value': 'Greenland (+299)'},
   {'text': 'Grenada (+1)', 'value': 'Grenada (+1)'},
   {'text': 'Guadeloupe (+590)', 'value': 'Guadeloupe (+590)'},
   {'text': 'Guam (+1)', 'value': 'Guam (+1)'},
   {'text': 'Guatemala (+502)', 'value': 'Guatemala (+502)'},
   {'text': 'Guernsey (+44)', 'value': 'Guernsey (+44)'},
   {'text': 'Guinea (+224)', 'value': 'Guinea (+224)'},
   {'text': 'Guinea-Bissau (+245)', 'value': 'Guinea-Bissau (+245)'},
   {'text': 'Guyana (+592)', 'value': 'Guyana (+592)'},
   {'text': 'Haiti (+509)', 'value': 'Haiti (+509)'},
   {'text': 'Heard Island and McDonald Islands (+0)',
    'value': 'Heard Island and McDonald Islands (+0)'},
   {'text': 'Honduras (+504)', 'value': 'Honduras (+504)'},
   {'text': 'Hong Kong (+852)', 'value': 'Hong Kong (+852)'},
   {'text': 'Hungary (+36)', 'value': 'Hungary (+36)'},
   {'text': 'Iceland (+354)', 'value': 'Iceland (+354)'},
   {'text': 'India (+91)', 'value': 'India (+91)'},
   {'text': 'Indonesia (+62)', 'value': 'Indonesia (+62)'},
   {'text': 'Iran (+98)', 'value': 'Iran (+98)'},
   {'text': 'Iraq (+964)', 'value': 'Iraq (+964)'},
   {'text': 'Ireland (+353)', 'value': 'Ireland (+353)'},
   {'text': 'Isle of Man (+44)', 'value': 'Isle of Man (+44)'},
   {'text': 'Israel (+972)', 'value': 'Israel (+972)'},
   {'text': 'Italy (+39)', 'value': 'Italy (+39)'},
   {'text': 'Jamaica (+1)', 'value': 'Jamaica (+1)'},
   {'text': 'Japan (+81)', 'value': 'Japan (+81)'},
   {'text': 'Jersey (+44)', 'value': 'Jersey (+44)'},
   {'text': 'Jordan (+962)', 'value': 'Jordan (+962)'},
   {'text': 'Kazakhstan (+7)', 'value': 'Kazakhstan (+7)'},
   {'text': 'Kenya (+254)', 'value': 'Kenya (+254)'},
   {'text': 'Kiribati (+686)', 'value': 'Kiribati (+686)'},
   {'text': 'Korea (+82)', 'value': 'Korea (+82)'},
   {'text': 'Korea (North) (+850)', 'value': 'Korea (North) (+850)'},
   {'text': 'Kosovo (+383)', 'value': 'Kosovo (+383)'},
   {'text': 'Kuwait (+965)', 'value': 'Kuwait (+965)'},
   {'text': 'Kyrgyzstan (+996)', 'value': 'Kyrgyzstan (+996)'},
   {'text': 'Laos (+856)', 'value': 'Laos (+856)'},
   {'text': 'Latvia (+371)', 'value': 'Latvia (+371)'},
   {'text': 'Lebanon (+961)', 'value': 'Lebanon (+961)'},
   {'text': 'Lesotho (+266)', 'value': 'Lesotho (+266)'},
   {'text': 'Liberia (+231)', 'value': 'Liberia (+231)'},
   {'text': 'Libya (+218)', 'value': 'Libya (+218)'},
   {'text': 'Liechtenstein (+423)', 'value': 'Liechtenstein (+423)'},
   {'text': 'Lithuania (+370)', 'value': 'Lithuania (+370)'},
   {'text': 'Luxembourg (+352)', 'value': 'Luxembourg (+352)'},
   {'text': 'Macao (+853)', 'value': 'Macao (+853)'},
   {'text': 'Macedonia (+389)', 'value': 'Macedonia (+389)'},
   {'text': 'Madagascar (+261)', 'value': 'Madagascar (+261)'},
   {'text': 'Malawi (+265)', 'value': 'Malawi (+265)'},
   {'text': 'Malaysia (+60)', 'value': 'Malaysia (+60)'},
   {'text': 'Maldives (+960)', 'value': 'Maldives (+960)'},
   {'text': 'Mali (+223)', 'value': 'Mali (+223)'},
   {'text': 'Malta (+356)', 'value': 'Malta (+356)'},
   {'text': 'Marshall Islands (+692)', 'value': 'Marshall Islands (+692)'},
   {'text': 'Martinique (+596)', 'value': 'Martinique (+596)'},
   {'text': 'Mauritania (+222)', 'value': 'Mauritania (+222)'},
   {'text': 'Mauritius (+230)', 'value': 'Mauritius (+230)'},
   {'text': 'Mayotte (+262)', 'value': 'Mayotte (+262)'},
   {'text': 'Mexico (+52)', 'value': 'Mexico (+52)'},
   {'text': 'Moldova (+373)', 'value': 'Moldova (+373)'},
   {'text': 'Monaco (+377)', 'value': 'Monaco (+377)'},
   {'text': 'Mongolia (+976)', 'value': 'Mongolia (+976)'},
   {'text': 'Montenegro (+382)', 'value': 'Montenegro (+382)'},
   {'text': 'Montserrat (+1)', 'value': 'Montserrat (+1)'},
   {'text': 'Morocco (+212)', 'value': 'Morocco (+212)'},
   {'text': 'Mozambique (+258)', 'value': 'Mozambique (+258)'},
   {'text': 'Myanmar (+95)', 'value': 'Myanmar (+95)'},
   {'text': 'Namibia (+264)', 'value': 'Namibia (+264)'},
   {'text': 'Nauru (+674)', 'value': 'Nauru (+674)'},
   {'text': 'Nepal (+977)', 'value': 'Nepal (+977)'},
   {'text': 'Netherlands (+31)', 'value': 'Netherlands (+31)'},
   {'text': 'Netherlands Antilles (+0)', 'value': 'Netherlands Antilles (+0)'},
   {'text': 'New Caledonia (+687)', 'value': 'New Caledonia (+687)'},
   {'text': 'New Zealand (+64)', 'value': 'New Zealand (+64)'},
   {'text': 'Nicaragua (+505)', 'value': 'Nicaragua (+505)'},
   {'text': 'Niger (+227)', 'value': 'Niger (+227)'},
   {'text': 'Nigeria (+234)', 'value': 'Nigeria (+234)'},
   {'text': 'Niue (+683)', 'value': 'Niue (+683)'},
   {'text': 'Norfolk Island (+672)', 'value': 'Norfolk Island (+672)'},
   {'text': 'Northern Mariana Islands (+1)',
    'value': 'Northern Mariana Islands (+1)'},
   {'text': 'Norway (+47)', 'value': 'Norway (+47)'},
   {'text': 'Pakistan (+92)', 'value': 'Pakistan (+92)'},
   {'text': 'Palau (+680)', 'value': 'Palau (+680)'},
   {'text': 'Palestinian Territory (+970)',
    'value': 'Palestinian Territory (+970)'},
   {'text': 'Panama (+507)', 'value': 'Panama (+507)'},
   {'text': 'Papua New Guinea (+675)', 'value': 'Papua New Guinea (+675)'},
   {'text': 'Paraguay (+595)', 'value': 'Paraguay (+595)'},
   {'text': 'Peru (+51)', 'value': 'Peru (+51)'},
   {'text': 'Philippines (+63)', 'value': 'Philippines (+63)'},
   {'text': 'Pitcairn (+0)', 'value': 'Pitcairn (+0)'},
   {'text': 'Poland (+48)', 'value': 'Poland (+48)'},
   {'text': 'Portugal (+351)', 'value': 'Portugal (+351)'},
   {'text': 'Puerto Rico (+1)', 'value': 'Puerto Rico (+1)'},
   {'text': 'Qatar (+974)', 'value': 'Qatar (+974)'},
   {'text': 'Reunion (+262)', 'value': 'Reunion (+262)'},
   {'text': 'Romania (+40)', 'value': 'Romania (+40)'},
   {'text': 'Russian Federation (+7)', 'value': 'Russian Federation (+7)'},
   {'text': 'Rwanda (+250)', 'value': 'Rwanda (+250)'},
   {'text': 'S. Georgia and S. Sandwich Islands (+0)',
    'value': 'S. Georgia and S. Sandwich Islands (+0)'},
   {'text': 'Saint Helena (+290)', 'value': 'Saint Helena (+290)'},
   {'text': 'Saint Kitts and Nevis (+1)',
    'value': 'Saint Kitts and Nevis (+1)'},
   {'text': 'Saint Lucia (+1)', 'value': 'Saint Lucia (+1)'},
   {'text': 'Saint Pierre and Miquelon (+508)',
    'value': 'Saint Pierre and Miquelon (+508)'},
   {'text': 'Saint Vincent and the Grenadines (+1)',
    'value': 'Saint Vincent and the Grenadines (+1)'},
   {'text': 'Samoa (+685)', 'value': 'Samoa (+685)'},
   {'text': 'San Marino (+378)', 'value': 'San Marino (+378)'},
   {'text': 'Sao Tome and Principe (+239)',
    'value': 'Sao Tome and Principe (+239)'},
   {'text': 'Saudi Arabia (+966)', 'value': 'Saudi Arabia (+966)'},
   {'text': 'Senegal (+221)', 'value': 'Senegal (+221)'},
   {'text': 'Serbia (+381)', 'value': 'Serbia (+381)'},
   {'text': 'Serbia and Montenegro (+0)',
    'value': 'Serbia and Montenegro (+0)'},
   {'text': 'Seychelles (+248)', 'value': 'Seychelles (+248)'},
   {'text': 'Sierra Leone (+232)', 'value': 'Sierra Leone (+232)'},
   {'text': 'Singapore (+65)', 'value': 'Singapore (+65)'},
   {'text': 'Slovak Republic (+421)', 'value': 'Slovak Republic (+421)'},
   {'text': 'Slovenia (+386)', 'value': 'Slovenia (+386)'},
   {'text': 'Solomon Islands (+677)', 'value': 'Solomon Islands (+677)'},
   {'text': 'Somalia (+252)', 'value': 'Somalia (+252)'},
   {'text': 'South Africa (+27)', 'value': 'South Africa (+27)'},
   {'text': 'South Sudan (+211)', 'value': 'South Sudan (+211)'},
   {'text': 'Spain (+34)', 'value': 'Spain (+34)'},
   {'text': 'Sri Lanka (+94)', 'value': 'Sri Lanka (+94)'},
   {'text': 'Sudan (+249)', 'value': 'Sudan (+249)'},
   {'text': 'Sultanate of Oman (+968)', 'value': 'Sultanate of Oman (+968)'},
   {'text': 'Suriname (+597)', 'value': 'Suriname (+597)'},
   {'text': 'Svalbard and Jan Mayen (+47)',
    'value': 'Svalbard and Jan Mayen (+47)'},
   {'text': 'Swaziland (+268)', 'value': 'Swaziland (+268)'},
   {'text': 'Sweden (+46)', 'value': 'Sweden (+46)'},
   {'text': 'Switzerland (+41)', 'value': 'Switzerland (+41)'},
   {'text': 'Syria (+963)', 'value': 'Syria (+963)'},
   {'text': 'Taiwan (+886)', 'value': 'Taiwan (+886)'},
   {'text': 'Tajikistan (+992)', 'value': 'Tajikistan (+992)'},
   {'text': 'Tanzania (+255)', 'value': 'Tanzania (+255)'},
   {'text': 'Thailand (+66)', 'value': 'Thailand (+66)'},
   {'text': 'Timor-Leste (+670)', 'value': 'Timor-Leste (+670)'},
   {'text': 'Togo (+228)', 'value': 'Togo (+228)'},
   {'text': 'Tokelau (+690)', 'value': 'Tokelau (+690)'},
   {'text': 'Tonga (+676)', 'value': 'Tonga (+676)'},
   {'text': 'Trinidad and Tobago (+1)', 'value': 'Trinidad and Tobago (+1)'},
   {'text': 'Tunisia (+216)', 'value': 'Tunisia (+216)'},
   {'text': 'Turkey (+90)', 'value': 'Turkey (+90)'},
   {'text': 'Turkmenistan (+993)', 'value': 'Turkmenistan (+993)'},
   {'text': 'Turks and Caicos Islands (+1)',
    'value': 'Turks and Caicos Islands (+1)'},
   {'text': 'Tuvalu (+688)', 'value': 'Tuvalu (+688)'},
   {'text': 'Uganda (+256)', 'value': 'Uganda (+256)'},
   {'text': 'Ukraine (+380)', 'value': 'Ukraine (+380)'},
   {'text': 'United Arab Emirates (+971)',
    'value': 'United Arab Emirates (+971)'},
   {'text': 'United Kingdom (+44)', 'value': 'United Kingdom (+44)'},
   {'text': 'Uruguay (+598)', 'value': 'Uruguay (+598)'},
   {'text': 'Uzbekistan (+998)', 'value': 'Uzbekistan (+998)'},
   {'text': 'Vanuatu (+678)', 'value': 'Vanuatu (+678)'},
   {'text': 'Vatican City State (Holy See) (+39)',
    'value': 'Vatican City State (Holy See) (+39)'},
   {'text': 'Venezuela (+58)', 'value': 'Venezuela (+58)'},
   {'text': 'Vietnam (+84)', 'value': 'Vietnam (+84)'},
   {'text': 'Virgin Islands (British) (+1)',
    'value': 'Virgin Islands (British) (+1)'},
   {'text': 'Virgin Islands (U.S.) (+1)',
    'value': 'Virgin Islands (U.S.) (+1)'},
   {'text': 'Wallis and Futuna (+681)', 'value': 'Wallis and Futuna (+681)'},
   {'text': 'Western Sahara (+212)', 'value': 'Western Sahara (+212)'},
   {'text': 'Yemen (+967)', 'value': 'Yemen (+967)'},
   {'text': 'Zambia (+260)', 'value': 'Zambia (+260)'},
   {'text': 'Zimbabwe (+263)', 'value': 'Zimbabwe (+263)'}]),
 ('Do you have experience with data visualization tools (Tableau, Power BI etc)?',
  [{'text': 'Select an option', 'value': 'Select an option'},
   {'text': 'Yes', 'value': 'Yes'},
   {'text': 'No', 'value': 'No'}])]

In [11]:
rb_prompts_and_options

[("Have you completed the following level of education: Bachelor's Degree?",
  [{'text': 'Yes', 'value': 'Yes'}, {'text': 'No', 'value': 'No'}])]

# Insert Test

In [12]:
# insert free response questions
questions_sa = []
for fr_q in fr_prompts:
    question_sa = dm.create_question(fr_q, da.QuestionType.FREERESPONSE, None)
    questions_sa.append(question_sa)

for rb_q in rb_prompts_and_options:
    question_sa = dm.create_question_and_options(rb_q, da.QuestionType.RADIOBUTTON)
    questions_sa.append(question_sa)

for dd_q in dd_prompts_and_options:
    question_sa = dm.create_question_and_options(dd_q, da.QuestionType.DROPDOWN)
    questions_sa.append(question_sa)

2023-10-15 17:18:17,600 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,605 INFO sqlalchemy.engine.Engine [generated in 0.00501s] ('Yes', 'Yes', 1, 0)
no option found
2023-10-15 17:18:17,608 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,610 INFO sqlalchemy.engine.Engine [generated in 0.00204s] ('Yes', 'Yes')
2023-10-15 17:18:17,613 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,614 INFO sqlalchemy.engine.Engine [cached since 0.01396s ago] ('No', 'No', 1, 0)
no option found
2023-10-15 17:18:17,615 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,616 INFO sqlalchemy.engine.Engine [cached since 0.008187s ago] ('No', 'No')
2023-10-15 17:18:17,623 INFO sqlalchemy.engine.Engine INSERT INTO optionset (optionshash) VALUES (?)
2023-10-15 17:18:17,625 INFO sqlalchemy.engine.Engine [generated in 0.00226s] ('1-2',)
2023-10-15 17:18:17,627 INFO sqlalchemy.engine.Engine INSERT INTO optionsetoption (optionid, optionsetid) VALUES (?, ?)
2023-10-15 17:18:17,628 INFO sqlalchemy.engine.Engine [generated in 0.00120s] [(1, 1), (2, 1)]
2023-10-15 17:18:17,632 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,633 INFO sqlalchemy.engine.Engine [cached since 0.03377s ago] ('Select an option', 'Select an option', 1, 0)
no option found
2023-10-15 17:18:17,639 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,641 INFO sqlalchemy.engine.Engine [cached since 0.03244s ago] ('Select an option', 'Select an option')
2023-10-15 17:18:17,643 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,643 INFO sqlalchemy.engine.Engine [cached since 0.04392s ago] ('luca.guarro@gmail.com', 'luca.guarro@gmail.com', 1, 0)
no option found
2023-10-15 17:18:17,645 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,646 INFO sqlalchemy.engine.Engine [cached since 0.03777s ago] ('luca.guarro@gmail.com', 'luca.guarro@gmail.com')
2023-10-15 17:18:17,648 INFO sqlalchemy.engine.Engine INSERT INTO optionset (optionshash) VALUES (?)
2023-10-15 17:18:17,649 INFO sqlalchemy.engine.Engine [cached since 0.02597s ago] ('3-4',)
2023-10-15 17:18:17,650 INFO sqlalchemy.engine.Engine INSERT INTO optionsetoption (optionid, optionsetid) VALUES (?, ?)
2023-10-15 17:18:17,651 INFO sqlalchemy.engine.Engine [cached since 0.024s ago] [(3, 2), (4, 2)]
2023-10-15 17:18:17,656 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,658 INFO sqlalchemy.engine.Engine [cached since 0.05811s ago] ('Select an option', 'Select an option', 1, 0)
option found
2023-10-15 17:18:17,659 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,660 INFO sqlalchemy.engine.Engine [cached since 0.0608s ago] ('United States (+1)', 'United States (+1)', 1, 0)
no option found
2023-10-15 17:18:17,662 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,663 INFO sqlalchemy.engine.Engine [cached since 0.05442s ago] ('United States (+1)', 'United States (+1)')
2023-10-15 17:18:17,664 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,665 INFO sqlalchemy.engine.Engine [cached since 0.06554s ago] ('Afghanistan (+93)', 'Afghanistan (+93)', 1, 0)
no option found
2023-10-15 17:18:17,669 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,671 INFO sqlalchemy.engine.Engine [cached since 0.06298s ago] ('Afghanistan (+93)', 'Afghanistan (+93)')
2023-10-15 17:18:17,673 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,674 INFO sqlalchemy.engine.Engine [cached since 0.0741s ago] ('Aland Islands (+358)', 'Aland Islands (+358)', 1, 0)
no option found
2023-10-15 17:18:17,676 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,676 INFO sqlalchemy.engine.Engine [cached since 0.06823s ago] ('Aland Islands (+358)', 'Aland Islands (+358)')
2023-10-15 17:18:17,678 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,678 INFO sqlalchemy.engine.Engine [cached since 0.0789s ago] ('Albania (+355)', 'Albania (+355)', 1, 0)
no option found
2023-10-15 17:18:17,680 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,681 INFO sqlalchemy.engine.Engine [cached since 0.07277s ago] ('Albania (+355)', 'Albania (+355)')
2023-10-15 17:18:17,682 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,683 INFO sqlalchemy.engine.Engine [cached since 0.08335s ago] ('Algeria (+213)', 'Algeria (+213)', 1, 0)
no option found
2023-10-15 17:18:17,686 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,688 INFO sqlalchemy.engine.Engine [cached since 0.07938s ago] ('Algeria (+213)', 'Algeria (+213)')
2023-10-15 17:18:17,690 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,691 INFO sqlalchemy.engine.Engine [cached since 0.09124s ago] ('American Samoa (+1)', 'American Samoa (+1)', 1, 0)
no option found
2023-10-15 17:18:17,693 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,693 INFO sqlalchemy.engine.Engine [cached since 0.08527s ago] ('American Samoa (+1)', 'American Samoa (+1)')
2023-10-15 17:18:17,694 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,695 INFO sqlalchemy.engine.Engine [cached since 0.09544s ago] ('Andorra (+376)', 'Andorra (+376)', 1, 0)
no option found
2023-10-15 17:18:17,696 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,698 INFO sqlalchemy.engine.Engine [cached since 0.08949s ago] ('Andorra (+376)', 'Andorra (+376)')
2023-10-15 17:18:17,699 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,700 INFO sqlalchemy.engine.Engine [cached since 0.1006s ago] ('Angola (+244)', 'Angola (+244)', 1, 0)
no option found
2023-10-15 17:18:17,705 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,706 INFO sqlalchemy.engine.Engine [cached since 0.09737s ago] ('Angola (+244)', 'Angola (+244)')
2023-10-15 17:18:17,707 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,708 INFO sqlalchemy.engine.Engine [cached since 0.1088s ago] ('Anguilla (+1)', 'Anguilla (+1)', 1, 0)
no option found
2023-10-15 17:18:17,710 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,711 INFO sqlalchemy.engine.Engine [cached since 0.1028s ago] ('Anguilla (+1)', 'Anguilla (+1)')
2023-10-15 17:18:17,712 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,713 INFO sqlalchemy.engine.Engine [cached since 0.1139s ago] ('Antarctica (+0)', 'Antarctica (+0)', 1, 0)
no option found
2023-10-15 17:18:17,715 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,716 INFO sqlalchemy.engine.Engine [cached since 0.1076s ago] ('Antarctica (+0)', 'Antarctica (+0)')
2023-10-15 17:18:17,717 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,719 INFO sqlalchemy.engine.Engine [cached since 0.119s ago] ('Antigua and Barbuda (+1)', 'Antigua and Barbuda (+1)', 1, 0)
no option found
2023-10-15 17:18:17,723 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,724 INFO sqlalchemy.engine.Engine [cached since 0.1162s ago] ('Antigua and Barbuda (+1)', 'Antigua and Barbuda (+1)')
2023-10-15 17:18:17,726 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,726 INFO sqlalchemy.engine.Engine [cached since 0.1268s ago] ('Argentina (+54)', 'Argentina (+54)', 1, 0)
no option found
2023-10-15 17:18:17,728 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,729 INFO sqlalchemy.engine.Engine [cached since 0.1204s ago] ('Argentina (+54)', 'Argentina (+54)')
2023-10-15 17:18:17,729 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,730 INFO sqlalchemy.engine.Engine [cached since 0.1308s ago] ('Armenia (+374)', 'Armenia (+374)', 1, 0)
no option found
2023-10-15 17:18:17,732 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,732 INFO sqlalchemy.engine.Engine [cached since 0.1243s ago] ('Armenia (+374)', 'Armenia (+374)')
2023-10-15 17:18:17,735 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,737 INFO sqlalchemy.engine.Engine [cached since 0.1378s ago] ('Aruba (+297)', 'Aruba (+297)', 1, 0)
no option found
2023-10-15 17:18:17,741 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,742 INFO sqlalchemy.engine.Engine [cached since 0.1336s ago] ('Aruba (+297)', 'Aruba (+297)')
2023-10-15 17:18:17,743 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,744 INFO sqlalchemy.engine.Engine [cached since 0.1446s ago] ('Australia (+61)', 'Australia (+61)', 1, 0)
no option found
2023-10-15 17:18:17,746 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,747 INFO sqlalchemy.engine.Engine [cached since 0.1385s ago] ('Australia (+61)', 'Australia (+61)')
2023-10-15 17:18:17,748 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,749 INFO sqlalchemy.engine.Engine [cached since 0.1496s ago] ('Austria (+43)', 'Austria (+43)', 1, 0)
no option found
2023-10-15 17:18:17,752 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,754 INFO sqlalchemy.engine.Engine [cached since 0.1457s ago] ('Austria (+43)', 'Austria (+43)')
2023-10-15 17:18:17,756 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,758 INFO sqlalchemy.engine.Engine [cached since 0.1582s ago] ('Azerbaijan (+994)', 'Azerbaijan (+994)', 1, 0)
no option found
2023-10-15 17:18:17,760 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,761 INFO sqlalchemy.engine.Engine [cached since 0.1524s ago] ('Azerbaijan (+994)', 'Azerbaijan (+994)')
2023-10-15 17:18:17,762 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,763 INFO sqlalchemy.engine.Engine [cached since 0.163s ago] ('Bahamas (+1)', 'Bahamas (+1)', 1, 0)
no option found
2023-10-15 17:18:17,764 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,765 INFO sqlalchemy.engine.Engine [cached since 0.1566s ago] ('Bahamas (+1)', 'Bahamas (+1)')
2023-10-15 17:18:17,767 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,769 INFO sqlalchemy.engine.Engine [cached since 0.1693s ago] ('Bahrain (+973)', 'Bahrain (+973)', 1, 0)
no option found
2023-10-15 17:18:17,773 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,773 INFO sqlalchemy.engine.Engine [cached since 0.1653s ago] ('Bahrain (+973)', 'Bahrain (+973)')
2023-10-15 17:18:17,775 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,776 INFO sqlalchemy.engine.Engine [cached since 0.1765s ago] ('Bangladesh (+880)', 'Bangladesh (+880)', 1, 0)
no option found
2023-10-15 17:18:17,778 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,779 INFO sqlalchemy.engine.Engine [cached since 0.1706s ago] ('Bangladesh (+880)', 'Bangladesh (+880)')
2023-10-15 17:18:17,780 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,781 INFO sqlalchemy.engine.Engine [cached since 0.1813s ago] ('Barbados (+1)', 'Barbados (+1)', 1, 0)
no option found
2023-10-15 17:18:17,782 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,783 INFO sqlalchemy.engine.Engine [cached since 0.1749s ago] ('Barbados (+1)', 'Barbados (+1)')
2023-10-15 17:18:17,785 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,788 INFO sqlalchemy.engine.Engine [cached since 0.1881s ago] ('Belarus (+375)', 'Belarus (+375)', 1, 0)
no option found
2023-10-15 17:18:17,791 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,792 INFO sqlalchemy.engine.Engine [cached since 0.1834s ago] ('Belarus (+375)', 'Belarus (+375)')
2023-10-15 17:18:17,793 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,794 INFO sqlalchemy.engine.Engine [cached since 0.1942s ago] ('Belgium (+32)', 'Belgium (+32)', 1, 0)
no option found
2023-10-15 17:18:17,796 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,796 INFO sqlalchemy.engine.Engine [cached since 0.188s ago] ('Belgium (+32)', 'Belgium (+32)')
2023-10-15 17:18:17,797 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,798 INFO sqlalchemy.engine.Engine [cached since 0.1985s ago] ('Belize (+501)', 'Belize (+501)', 1, 0)
no option found
2023-10-15 17:18:17,801 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,803 INFO sqlalchemy.engine.Engine [cached since 0.1945s ago] ('Belize (+501)', 'Belize (+501)')
2023-10-15 17:18:17,805 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,806 INFO sqlalchemy.engine.Engine [cached since 0.2063s ago] ('Benin (+229)', 'Benin (+229)', 1, 0)
no option found
2023-10-15 17:18:17,809 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,809 INFO sqlalchemy.engine.Engine [cached since 0.2014s ago] ('Benin (+229)', 'Benin (+229)')
2023-10-15 17:18:17,811 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,812 INFO sqlalchemy.engine.Engine [cached since 0.2125s ago] ('Bermuda (+1)', 'Bermuda (+1)', 1, 0)
no option found
2023-10-15 17:18:17,814 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,815 INFO sqlalchemy.engine.Engine [cached since 0.2065s ago] ('Bermuda (+1)', 'Bermuda (+1)')
2023-10-15 17:18:17,816 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,817 INFO sqlalchemy.engine.Engine [cached since 0.2171s ago] ('Bhutan (+975)', 'Bhutan (+975)', 1, 0)
no option found
2023-10-15 17:18:17,821 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,822 INFO sqlalchemy.engine.Engine [cached since 0.2139s ago] ('Bhutan (+975)', 'Bhutan (+975)')
2023-10-15 17:18:17,824 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,825 INFO sqlalchemy.engine.Engine [cached since 0.2255s ago] ('Bolivia (+591)', 'Bolivia (+591)', 1, 0)
no option found
2023-10-15 17:18:17,827 INFO sqlalchemy.engine.Engine INSERT INTO option (text, value) VALUES (?, ?)
2023-10-15 17:18:17,828 INFO sqlalchemy.engine.Engine [cached since 0.2198s ago] ('Bolivia (+591)', 'Bolivia (+591)')
2023-10-15 17:18:17,829 INFO sqlalchemy.engine.Engine SELECT option.id AS option_id, option.text AS option_text, option.value AS option_value
FROM option
WHERE option.text = ? AND option.value = ?
 LIMIT ? OFFSET ?
2023-10-15 17:18:17,830 INFO sqlalchemy.engine.Engine [cached since 0.2303s ago] ('Bosnia and Herzegovina (+387)', 'Bosnia and Herzegovina (+387)', 1, 0)
no option found

In [13]:
dm.create_job(job_info, jobboard_sa, questions_sa)

In [15]:
dm.commit()

2023-10-15 17:18:19,808 INFO sqlalchemy.engine.Engine INSERT INTO jobboard (name) VALUES (?)
2023-10-15 17:18:19,810 INFO sqlalchemy.engine.Engine [generated in 0.00177s] ('linkedin',)
2023-10-15 17:18:19,815 INFO sqlalchemy.engine.Engine INSERT INTO job (companyname, location, isarepost, postedtimeago, numapplicants, salarylowerbound, salaryupperbound, workplacetype, jobtype, explevel, numemployees, industry, jobtitle, description, appsubmitted, extjobid, jobboardid, preferencescore) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id, createdat
2023-10-15 17:18:19,816 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ('Gleaners Community Food Bank of Southeastern Michigan', 'Detroit, MI', 0, '2 weeks ago', '1186 applicants', None, None, None, None, None, '51-200 employees', None, 'Data Analyst', 'Gleaners Community Food Bank partners with more than four hundred agencies\nacross five counties in Southeast Michigan to provide food to neighbors i ... (1733 characters truncated) ... cription can be found at www.gcfb.org/careers**\n\n  \n\n **Interested applicants should forward their resume and cover letter to\nhr@gcfb.org.**\n\n', 0, '3726547406', 1, None)
2023-10-15 17:18:19,824 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,825 INFO sqlalchemy.engine.Engine [generated in 0.00026s (insertmanyvalues) 1/6 (ordered; batch not supported)] ('Mobile phone number', 'free response')
2023-10-15 17:18:19,827 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,828 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/6 (ordered; batch not supported)] ('How many years of work experience do you have with SQL?', 'free response')
2023-10-15 17:18:19,829 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,829 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/6 (ordered; batch not supported)] ("Have you completed the following level of education: Bachelor's Degree?", 'radio buttons')
2023-10-15 17:18:19,831 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,831 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/6 (ordered; batch not supported)] ('Email address', 'drop down')
2023-10-15 17:18:19,832 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,834 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/6 (ordered; batch not supported)] ('Phone country code', 'drop down')
2023-10-15 17:18:19,838 INFO sqlalchemy.engine.Engine INSERT INTO question (question, type) VALUES (?, ?) RETURNING id
2023-10-15 17:18:19,840 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/6 (ordered; batch not supported)] ('Do you have experience with data visualization tools (Tableau, Power BI etc)?', 'drop down')
2023-10-15 17:18:19,842 INFO sqlalchemy.engine.Engine INSERT INTO freeresponsequestion (id, answer) VALUES (?, ?)
2023-10-15 17:18:19,843 INFO sqlalchemy.engine.Engine [generated in 0.00090s] [(1, None), (2, None)]
2023-10-15 17:18:19,845 INFO sqlalchemy.engine.Engine INSERT INTO radiobuttonquestion (id, optionsetid, answerasoptionid) VALUES (?, ?, ?)
2023-10-15 17:18:19,846 INFO sqlalchemy.engine.Engine [generated in 0.00076s] (3, 1, None)
2023-10-15 17:18:19,848 INFO sqlalchemy.engine.Engine INSERT INTO dropdownquestion (id, optionsetid, answerasoptionid) VALUES (?, ?, ?)
2023-10-15 17:18:19,850 INFO sqlalchemy.engine.Engine [generated in 0.00127s] [(4, 2, None), (5, 3, None), (6, 4, None)]
2023-10-15 17:18:19,856 INFO sqlalchemy.engine.Engine INSERT INTO jobquestion (jobid, questionid) VALUES (?, ?)
2023-10-15 17:18:19,857 INFO sqlalchemy.engine.Engine [generated in 0.00145s] [(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6)]
2023-10-15 17:18:19,860 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
questions_sa

[<Question(question='Mobile phone number', type='free response')>,
 <Question(question='How many years of work experience do you have with SQL?', type='free response')>,
 None,
 None,
 None,
 None]